aside{
    grid-area: aside;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    .torneos{
        margin-top: 2rem;
        margin-right: 2rem;
        font-family: 'Lato', sans-serif;
    }
}
